<p>You weigh <%= @weight %> kg</p>
<p>
  Weather: <%= @weather['condition'] %>
  <i class="wi wi-yahoo-<%= @weather['icon'] %>"></i>
</p>
<p>
  <% @news.each do |item| %>
  <%= item.title %><br />
  <% end %>
</p>
<p>
  <% @movies.each do |item| %>
  <%= item.title %><br />
  <% end %>
</p>
