= form_for [@user, @person], html: { class: "form-horizontal", role: "form" } do |f|
  -if @person.errors.any?
    .alert.alert-danger.alert-dismissable{role: "alert"}
      %button.close{type: "button", data: {dismiss: "alert"} }
        %span{aria: {hidden: "true"} } &times;
        %span.sr-only Close
      %h4= "#{pluralize(@location.errors.count, "error")} prohibited this Location from being saved:"

      %ul
        - @person.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :name, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :name, class: 'form-control'

  .form-group
    = f.label :fullname, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :fullname, class: 'form-control'

  .form-group
    = f.label :birthday, class: 'col-sm-2 control-label'
    .col-sm-10
      /= f.date_select :birthday, class: 'form-control'
      = f.date_select :birthday, :start_year => Time.now.year - 70, :end_year => Time.now.year, class: 'form-control'


  .form-group
    = f.label :withings_id, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :withings_id, class: 'form-control'

  .form-group
    = f.label :withings_key, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :withings_key, class: 'form-control'

  .form-group
    = f.label :withings_secret, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :withings_secret, class: 'form-control'

  .form-group
    .col-sm-offset-2.col-sm-10
      %button.btn.btn-primary{:type => "submit"}
        - if f.object.new_record?
          = icon('save')
          = "Cretae #{f.object.class.model_name.human}"
        - else
          = icon('refresh')
          = "Update #{f.object.class.model_name.human}"
      = ilink_to 'arrow-circle-left', 'Cancel & Back', user_people_path(@user), :class => 'btn btn-default'
