.page-header
  = ilink_to 'arrow-circle-left', 'Back', user_people_path(@user), class: 'btn btn-default'
  = ilink_to 'edit', 'Edit', edit_user_person_path(@user, @person), class: 'btn btn-primary'

  %h1 Show Person

%dl.dl-horizontal
  %dt Name
  %dd= @person.name
  %dt Full Name
  %dd= @person.fullname
  %dt Birthday
  %dd= @person.birthday
  %dt Withings ID
  %dd= @person.withings_id
  %dt Withings Key
  %dd= @person.withings_key
  %dt Withings Secret
  %dd= @person.withings_secret
