= form_for [@user, @plexserver], html: { class: "form-horizontal", role: "form" } do |f|
  -if @plexserver.errors.any?
    .alert.alert-danger.alert-dismissable{role: "alert"}
      %button.close{type: "button", data: {dismiss: "alert"} }
        %span{aria: {hidden: "true"} } &times;
        %span.sr-only Close
      %h4= "#{pluralize(@plexserver.errors.count, "error")} prohibited this plexserver from being saved:"

      %ul
        - @plexserver.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :name, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :name, class: 'form-control'

  .form-group
    = f.label :url, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :url, class: 'form-control'

  .form-group
    = f.label :port, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :port, class: 'form-control'

  .form-group
    = f.label :token, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :token, class: 'form-control'

  .form-group
    = f.label :movies_library, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :movies_library, class: 'form-control'

  .form-group
    = f.label :shows_library, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :shows_library, class: 'form-control'

  .form-group
    .col-sm-offset-2.col-sm-10
      %button.btn.btn-primary{:type => "submit"}
        - if f.object.new_record?
          = icon('save')
          = "Cretae #{f.object.class.model_name.human}"
        - else
          = icon('refresh')
          = "Update #{f.object.class.model_name.human}"
      = ilink_to 'arrow-circle-left', 'Cancel & Back', user_plexservers_path(@user), :class => 'btn btn-default'
