.page-header
  = ilink_to 'arrow-circle-left', 'Back', user_plexservers_path(@user), class: 'btn btn-default'
  = ilink_to 'edit', 'Edit', edit_user_plexserver_path(@user, @plexserver), class: 'btn btn-primary'

  %h1 Show Plexserver

%dl.dl-horizontal
  %dt Name
  %dd= @plexserver.name
  %dt URL
  %dd= @plexserver.url
  %dt Port
  %dd= @plexserver.port
  %dt Token
  %dd= @plexserver.token
  %dt Shows Library
  %dd= @plexserver.withings_id
  %dt Movies Library
  %dd= @plexserver.withings_key
