.row
  .col-md-12
    %p{ style: "margin-left: 0.6em; margin-bottom: -0.15em; font-size:8em"}
      %span{id: "clock"}
        = Time.now.in_time_zone("Europe/Berlin").strftime('%k:%M')
    %p{ style: "margin-left: 3.4em; margin-bottom: 1em; font-size:1.4em"}
      %span{id: "date"}
        = Time.now.in_time_zone("Europe/Berlin").strftime('%A, %B %d, %Y')

- @data[:locations].each do |location|
  .row{ style: "margin-top: 1.5em" }
    .col-md-2{ style: "text-align: right; margin-top: 0em; font-size:4.9em" }
      %i{:class => "wi wi-yahoo-#{location[1][0][:icon]}", :id => "#{location[0]}_icon"}
    .col-md-10
      %h3{ style: "margin-top: 0em" }
        = location[0]
      %span{id: "#{location[0]}_condition"}
        = location[1][0][:condition]
      %br
      High:
      %span{id: "#{location[0]}_high"}
        #{location[1][0][:high]}
      °C
      Low:
      %span{id: "#{location[0]}_low"}
        #{location[1][0][:low]}
      °C
      %br
      Sunset:
      %span{id: "#{location[0]}_sun"}
        #{location[1][0][:sunset].in_time_zone("Europe/Berlin").strftime('%k:%M')}
        /#{location[1][0][:sunset]}

- @data[:people].each do |person|
  .row{ style: "margin-top: 1.5em" }
    .col-md-2{ style: "text-align: right; margin-top: 0em; font-size:5.8em" }
      = icon('bar-chart')
    .col-md-10
      %h3{ style: "margin-top: 0em" } #{person[0]}
      %span{id: "#{person[0]}_weight"}
        #{'%.1f' % person[1][:healthdata][0][:withings_weight]}
      kg
      - if person[1][:activitydata][0]
        %br
        %span{id: "#{person[0]}_steps"}
          #{person[1][:activitydata][0][:withings_steps]}
        steps
      - if person[1][:activitydata][0]
        %br
        %span{id: "#{person[0]}_calories"}
          #{'%.0f' % person[1][:activitydata][0][:withings_calories]}
        calories
