.page-header
  = link_to new_user_location_path(@user), class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    New Location
  %h1 Listing Locations

.table-responsive
  %table.table.table-striped.table-hover
    %thead
      %tr
        %th Name
        %th Latitude
        %th Longitude
        %th Yahoo woeid

    %tbody
      - @locations.each do |location|
        %tr
          %td= link_to location.name, [current_user, location]
          %td= location.lat
          %td= location.long
          %td= location.woeid
          %td
            = ilink_to 'edit', 'Edit', edit_user_location_path(@user, location) , :class => 'btn btn-primary btn-xs'
            = ilink_to 'trash', 'Destroy', user_location_path(@user, location), method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-default btn-xs'
