.page-header
  = ilink_to 'arrow-circle-left', 'Back', user_locations_path(@user), class: 'btn btn-default'
  = ilink_to 'edit', 'Edit', edit_user_location_path(@user, @location), class: 'btn btn-primary'

  %h1 Show Location

%dl.dl-horizontal
  %dt Name
  %dd= @location.name
  %dt Latitude
  %dd= @location.lat
  %dt Longitude
  %dd= @location.long
  %dt Yahoo woeid
  %dd= @location.woeid
