!!!
%html{:lang => "en"}
  %head
    %meta{ charset: "utf-8"}
    %meta{ content: "width=device-width, initial-scale=1", :name => "viewport"}
    %meta{ content: "ie=edge", "http-equiv" => "x-ua-compatible"}
    %meta{ content: "dubbelscreen - your configurable infoscreen", name: "description" }
    %meta{ content: "Julian Lindner", name: "author" }
    %title dubbelscreen
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-dark.bg-faded{style: "background-color: #A90641;"}
      %a.navbar-brand{:href => "/"}
        %span.logo
          dIb
        dubbelscreen
      %ul.nav.navbar-nav
        - if user_signed_in?
          %li.nav-item.active
            %a.nav-link{:href => "/datasources"} Datasources
      %ul.nav.navbar-nav.pull-right
        - if user_signed_in?
          %li.nav-item
            = link_to("Logout", destroy_user_session_path, :method => :delete, class: "nav-link")
        - else
          %li.nav-item
            %a.nav-link{:href => "/users/auth/twitter"} Login w/ Twitter
          %li.nav-item
            %a.nav-link{:href => "/users/auth/facebook"} Login w/ Facebook
          %li.nav-item
            %a.nav-link{:href => "/users/auth/github"} Login w/ Github
    .container
      - flash.each do |name, msg|
        = content_tag :div, class: "alert alert-#{name == "error" ? "danger" : "success" } alert-dismissable", role: "alert" do
          %button.close{ type: "button", data: { dismiss: "alert" } }
            %span{ aria: { hidden: "true" } } &times;
            %span.sr-only Close
          = name.humanize + ": " + msg
      = yield
