!!!
%html
  %head
    %meta{charset: "utf-8"}
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}
    %meta{content: "", name: "description"}
    %meta{content: "", name: "author"}
    %title dubbelscreen

    / HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    /[if lt IE 9]
      = javascript_include_tag "https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js", "https://oss.maxcdn.com/respond/1.4.2/respond.min.js"

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false
    = javascript_include_tag 'application', 'data-turbolinks-track' => false
    = csrf_meta_tags

    %script{:src => "http://js.pusher.com/3.0/pusher.min.js"}
    :javascript
      $(function() {
        // Enable pusher logging - don't include this in production
        Pusher.log = function(message) {
          if (window.console && window.console.log) {
            window.console.log(message);
          }
        };

        Pusher.host = 'ws-eu.pusher.com';
        Pusher.sockjs_host = 'sockjs-eu.pusher.com';

        var pusher = new Pusher('#{Pusher.key}');
        var channel = pusher.subscribe('private-#{current_user.name}');

        channel.bind('new_message', function(data) {
          dom_notify(data.message);
        });

        function dom_notify(msg) {
          $('#notify').text(msg);
          console.log(msg);
        };
      });

  %body
    #notify
      Noch gar nix
    = yield
